grafana/grafana/
mysql/mysql-data/
nginx/html/
nginx/log/
postgres/pgsql-data/
rabbitmq/data/
skywalking/elasticsearch/
wordpress
rabbitmq/log
redis/redis-data/
prometheus/prometheus_data
neo4j
mongodb/db/
elk/
influxdb/idata/
influxdb/influxdb/data/*
influxdb/influxdb/meta/*
influxdb/influxdb/wal/*
etcd/bin/logs/
etcd/etcd-data/
influxdb/chronograf/*
deployment/pkg
influxdb/chronograf
etcd/bin/config/etcd-data/*
containers/docker-registry/data
influxdb/chronograf
influxdb/idata/
influxdb/influxdb
etcd/bin/logs
etcd/etcd-data
jenkins/jenkins_home
jenkins/.ssh
